target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.DS_Store
jupiter2/.DS_Store
jupiter2/src/.DS_Store
jupiter2/src/main/.DS_Store
jupiter2/src/main/java/.DS_Store
jupiter2/src/main/java/external/MonkeyLearnClient.java
